{% extends 'base_generic.html' %}

{% load static %}
{% block body %}

<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
      <div class="container">

          <div class="d-flex justify-content-between align-items-center">
              <h2></h2>

          </div>

      </div>
  </section>
  <!-- End Breadcrumbs Section -->

   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

    </div>
    <div class="container">

      <div class="row mt-5">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>army street , Damanhour </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>abdoabass400@gmail.com<br>abasabdo@outlook.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+20 100 7582 994 <br></p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form class="form-contact contact_form"  method="POST" >
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                      <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder = 'Enter Subject'>
                    </div>
                </div>
                <br><br>
                <div class="col-sm-12">
                    <div class="form-group">
                      <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder = 'Enter email address'>
                    </div>
                </div>
                <br><br>
                <div class="col-12">
                    <div class="form-group">
                  
                      <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder = 'Enter Message'></textarea>
                    </div>
                </div>
                <br><br>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_4 boxed-btn">Send Message</button>
            </div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
</main>
<!-- End #main -->

{% endblock body %}